
.btn-primary {
	border-color: white;
	background-color: gray;
}

.btn-primary:hover {
	background-color: darkgray;
	border-color: darkgray;
}

textarea, .form-control {
	overflow-wrap: normal;
	overflow: visible;
	padding-left: 0em;
}

#line-nums {
	-moz-appearance: textfield-multiline;
    border-right: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    
    height: 500px;
    text-align: middle;
	float: left;
	padding-left: 2.5em;
}

#contain {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid gray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    resize: both;
    
    height: 500px;
}

#input {
    font: medium -moz-fixed;
    font: -webkit-small-control;
    height: 28px;
    overflow: auto;
    
    height: 500px;
}