
.btn-primary {
	border-color: white;
	background-color: gray;
}

.btn-primary:hover {
	background-color: darkgray;
	border-color: darkgray;
}

textarea, .form-control {
	overflow-wrap: normal;
	overflow: visible;
	padding-left: 0em;
}

#line-nums {
    position: absolute;
    font: -webkit-small-control;
    border-right: 1px solid gray;
    height: auto;
    width: 5%;
    padding-left: 2.5em;
    padding-right: 1.25em;
}

#input {
    position: absolute;
    font: -webkit-small-control;
    border-top: 1px solid black;
    height: auto;
    width: 100%;
    padding-left: 8%;
}